[submodule "ProMicroKiCad"]
	path = ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad.git
[submodule "keyswitches.pretty"]
	path = keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty.git
